html, body {
    height: 100%;
    margin: 0;
}
body {
    overflow: hidden;
    background-color: #121212;
}

.layout {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 4fr;
    height: 100vh;
}

.sidebar {
    background: #C58ADF;
    background: linear-gradient(138deg,rgba(197, 138, 223, 1) 0%, rgba(45, 63, 189, 1) 55%, rgba(3, 5, 37, 1) 100%);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
w
.avatar {
    margin: 0 auto;
}
.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
}
.player {
    color: white;
}
.player div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bio {
    width: 300px;
    height: 300px;
    color: white;
    font-family: "ＭＳ Ｐゴシック";
    text-align: center;
}
