html, body {
    height: 100%;
    margin: 0;
}
body {
    overflow: hidden;
    background-color: #121212;
}

.layout {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 4fr;
    height: 100vh;
}

.sidebar {
    background: #6E66E4;
    background: linear-gradient(180deg,rgba(110, 102, 228, 1) 0%, rgba(200, 139, 226, 1) 28%, rgba(124, 88, 156, 1) 72%, rgba(37, 52, 154, 1) 100%);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    margin: 0 auto;
}
.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
}
.player {
    color: white;
}
.player div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bio {
    width: 300px;
    height: 300px;
    color: white;
    font-family: "ＭＳ Ｐゴシック";
    text-align: center;
}

main section {
    padding: 15px;
    color: white;
    scroll-margin-top: 100px;
}
main {
    height: 100vh;
    overflow-y: auto;
}

nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 1;
}
.nav-button {
        background: #C58ADF;
        text-decoration: none;
        font-size: larger;
        padding: 1% 2%;
        border-radius: 5px;
        margin: 5px;
        color: #fff6e8;
        transition: transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}
.nav-button:hover {
        transform: scale(1.1);
    }
.navbar {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
