html, body {
    height: 100%;
    margin: 0;
}
body {
    overflow: hidden;
    background-color: #121212;
}

.layout {
    display: grid;
    grid-template-columns: minmax(260px, 1fr) 4fr;
    height: 100vh;
}

.sidebar {
    background-color: black;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 0 auto;
}
.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.player {
    color: white;
}
.player div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bio {
    width: 300px;
    height: 300px;
    color: white;
    font-family: "ＭＳ Ｐゴシック";
    text-align: center;
}
